<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Finalprojectnew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>Controller.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Controller/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>Controller.servlet.goodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/Controller/servlet/goodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderServlet</servlet-name>
    <servlet-class>Controller.servlet.orderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderServlet</servlet-name>
    <url-pattern>/Controller/servlet/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderServlet2</servlet-name>
    <servlet-class>Controller.servlet.orderServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderServlet2</servlet-name>
    <url-pattern>/Controller/servlet/orderServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderServlet3</servlet-name>
    <servlet-class>Controller.servlet.orderServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderServlet3</servlet-name>
    <url-pattern>/Controller/servlet/orderServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Controller.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Controller/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewandupdateuserServlet</servlet-name>
    <servlet-class>Controller.servlet.viewandupdateuserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewandupdateuserServlet</servlet-name>
    <url-pattern>/Controller/servlet/viewandupdateuserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>Controller.servlet.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/Controller/servlet/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelfUpdateServlet</servlet-name>
    <servlet-class>Controller.servlet.SelfUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfUpdateServlet</servlet-name>
    <url-pattern>/Controller/servlet/SelfUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>